<h2>Edit Account</h2>

<% @user ||= Spree::User.find_by(id: spree_current_user&.id) %>
<%= form_for @user, url: user_path(@user), method: :put do |f| %>
  <!-- Existing form fields -->

  <!-- Add the input fields for the bill address -->

  <%= f.fields_for :bill_address_attributes do |address_fields| %>

<div class="field">
  <%= address_fields.label :name, 'Name' %>
  <%= address_fields.text_field :name, value: @bill_address&.name %>
</div>

<div class="field">
  <%= address_fields.label :address1, 'Address1' %>
  <%= address_fields.text_field :address1, value: @bill_address&.address1 %>
</div>

<div class="field">
  <%= address_fields.label :address2, 'Address2' %>
  <%= address_fields.text_field :address2, value: @bill_address&.address2 %>
</div>

<div class="field">
  <%= address_fields.label :zipcode, 'zipcode' %>
  <%= address_fields.text_field :zipcode, value: @bill_address&.zipcode %>
</div>

<div class="field">
  <%= address_fields.label :phone, 'phone' %>
  <%= address_fields.text_field :phone, value: @bill_address&.phone %>
</div>
  <% end %>

  <%= f.submit 'Update Account' %>
<% end %>

