<style>
  .cart-item__quantity {
    display: flex;
    align-items: center;
  }

  .text-input {
    display: flex;
    align-items: center;
  }

  .value-button {
    display: inline-block;
    background-color: #007BFF; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    padding: 8px 12px; /* Adjust padding as needed */
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 0 4px; /* Adjust margin as needed */
  }

  #number {
    width: 40px; /* Set your desired width for the text_field */
    text-align: center;
  }
</style>

<% variant = line_item.variant %>

<%= order_form.fields_for :line_items, line_item do |item_form| %>
  <article class="cart-item">
    <div class="cart-item__image">
      <%= link_to(
        render(ImageComponent.new(
          image: variant.gallery.images.first || variant.product.gallery.images.first,
          size: :small
        )),
        variant.product
      ) %>
    </div>

    <%= render(
      'orders/item_info',
      line_item: line_item,
      variant: variant,
      classes: ['cart-item__info']
    ) %>

    <div class="cart-item__price-single">
      <%= line_item.single_money.to_html %>
    </div>

    <div class="cart-item__quantity">
      <div class="text-input">
        <div class="value-button" id="decrease<%= line_item.id %>" onclick="decreaseValue(<%= line_item.id %>)" value="Decrease Value">-</div>
          <%= item_form.text_field :quantity, min: 0, id: "number_#{line_item.id}", readonly: true, style: "width: 45px;" %>
        <div class="value-button" id="increase<%= line_item.id %>" onclick="increaseValue(<%= line_item.id %>)" value="Increase Value">+</div>
      </div>
    </div>
    

 <%= form_for(@order, url: cart_path, method: :put, remote: false) do |f| %>
      <%= f.hidden_field :authenticity_token, value: form_authenticity_token %>
      <%= f.hidden_field :id, value: item_form.object.id %>
      <%= f.hidden_field :quantity, value: item_form.object.quantity %>
      <%= f.submit style: 'display:none', id: 'update-cart-button' %>
    <% end %>  



    <div class="cart-item__price">
      <strong><%= line_item.display_amount.to_html unless line_item.quantity.nil? %></strong>
    </div>

    <div class="cart-item__remove">
    <%= link_to '', cart_line_item_path(line_item), method: :delete, data: { turbo_confirm: t('spree.are_you_sure') }, class: "fa-solid fa-trash"%>

      <%#= order_form.submit(
        'Remove',
        class: 'delete',
        id: "delete_#{dom_id(line_item)}",
        data: { disable_with: 'Remove' },
        'data-action': 'click->cart-page#setQuantityToZero',
        # FIXME: `index: nil` is required because otherwise rails will double the index
        'data-cart-page-quantity-id-param': item_form.field_id(:quantity, index: nil),
      ) %>
    </div>
  </article>
<% end %>

<script type="text/javascript">
  function increaseValue(lineItemId) {
    var newValue = parseInt($('#number_' + lineItemId).val()) + 1;
    // var maxStock = <%= @order.line_items.first.variant.stock_items.sum(:count_on_hand) %>;
    var maxStock = <%= @order.line_items.find_by(id: line_item.id).variant.stock_items.sum(:count_on_hand) %>;
  
    if (newValue <= maxStock) {
      $('#number_' + lineItemId).val(newValue);
      submitCartForm();
    } else {
      alert('Not enough stock available.');
    }
  }

  function decreaseValue(lineItemId) {
    var newValue = parseInt($('#number_' + lineItemId).val()) - 1;
    if (newValue >= 0) {
      $('#number_' + lineItemId).val(newValue);
      submitCartForm();
    }
  }

  function submitCartForm() {
    $('#update-cart-button').click();
  }
</script>