<style>

.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.pagination .icon {
  margin-right: 5px;
}

.pagination .current {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.pagination a:hover {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}


</style>  
<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<% if products.empty? %>
  <h2 class="products__results-title">
    <%= t('spree.no_products_found') %>
  </h2>
<% else %>
  <% if params.key?(:keywords) %>
    <h1 class="products__results-title">
      <%= t('spree.search_results', keywords: h(params[:keywords])) %>
    </h1>
  <% end %>

  <%= render 'products/products_grid', products: products %>
<% end %>

<% if paginated_products.respond_to?(:total_pages) %>
  <%= paginate paginated_products %>
<% end %>
