<style>
/* Style the pagination container */
.pagination {
  text-align: center;
}

/* Style the individual pages */
.page a,
.next a,
.last a, 
.prev a,
.first a {
  display: inline-block;
  padding: 8px 12px;
  margin: 0 4px;
  background-color: #0a111a;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Style the current page */
.page.current a {
  background-color: #0056b3;
}

/* Style on hover */
.page a:hover,
.next a:hover,
.last a:hover {
  background-color: #0056b3;
}

</style>
<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<% if products.empty? %>
  <h2 class="products__results-title">
    <%= t('spree.no_products_found') %>
  </h2>
<% else %>
  <% if params.key?(:keywords) %>
    <h1 class="products__results-title">
      <%= t('spree.search_results', keywords: h(params[:keywords])) %>
    </h1>
  <% end %>

  <%= render 'products/products_grid', products: products %>
<% end %>

<% if paginated_products.respond_to?(:total_pages) %>
  <%= paginate paginated_products %>
<% end %>
